{% extends '::Appli/layout.html.twig' %}
{% form_theme edit_form with '::Form/simple.html.twig' %}

{% block title %} {{ parent() }}|saison|{{'grid.edit'|trans}} {% endblock %}

{% block appli_content %}

{{ form_start(edit_form) }}

    <h1>
        {{'menu.saison'|trans}} {{'edition'|trans}}
        {{form_widget(edit_form.submit)}}
        <a href="{{ path('saison') }}" id="retour" name="retour" class="btn btn-danger btn-xs">{{ 'retour.liste' | trans }}</a>
    </h1>

    {{ form(edit_form) }}

{{ form_end(edit_form) }}  

{% endblock appli_content %}
