<div class="col-sm-8 col-sm-offset-2">
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                {{ 'form.label.username'|trans }}
            </td>
            <td>
                {{ user.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'form.label.email'|trans }}
            </td>
            <td>
                {{ user.email }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'form.label.prenom'|trans }}
            </td>
            <td>
                {{ user.prenom }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'form.label.nom'|trans }}
            </td>
            <td>
                {{ user.nom }}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'form.label.tel'|trans }}
            </td>
            <td>
                {{ user.tel }}
            </td>
        </tr>
    </table>
</div>

