<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
    <div class="form-group">
        {{ form_label(form.current_password,'form.label.current_password'|trans,{'label_attr':{'class':'col-sm-2 control-label'} })}}
        <div class="col-sm-4">
            {{ form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'form.placeholder.current_password'|trans} })}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.current_password)}}
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.new.first,'form.label.new'|trans,{'label_attr':{'class':'col-sm-2 control-label'} })}}
        <div class="col-sm-4">
            {{ form_widget(form.new.first,{'attr':{'class':'form-control','placeholder':'form.placeholder.new'|trans} })}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.new.first)}}
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.new.second,'form.label.newcheck'|trans,{'label_attr':{'class':'col-sm-2 control-label'} })}}
        <div class="col-sm-4">
            {{ form_widget(form.new.second,{'attr':{'class':'form-control','placeholder':'form.placeholder.new'|trans} })}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(form.new.second)}}
        </div>
    </div> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
      </div>
    </div>
  {{ form_rest(form) }}
</form>
