{% extends '::Appli/layout.html.twig' %}

{% block title %} {{ parent() }}|match|{{'grid.show'|trans}} {% endblock %}

{% block appli_content %}

    <h1>
        {{'menu.match'|trans}} 
        <a href="{{ path('match') }}" id="retour" name="retour" class="btn btn-danger btn-xs">{{ 'retour.liste' | trans }}</a>
    </h1>

    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{{ entity.domicile }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Bp</th>
                <td>{{ entity.bp }}</td>
            </tr>
            <tr>
                <th>Bc</th>
                <td>{{ entity.bc }}</td>
            </tr>
        </tbody>
    </table>

{% endblock appli_content %}
