{# -------------------------------------------------- grid_search -------------------------------------------------- #}
{% block grid_search %}
	{% if grid.isFilterSectionVisible %}
		<div class="grid-search">
			<form id="{{ grid.hash }}_search" action="{{ grid.routeUrl }}" method="post">
                <div class="grid-search-action col-sm-12">
					<button type="submit" class="btn btn-primary btn-xs" />
                        {#<i class="fa fa-check pull-left"></i>#}
                        {{ 'search'|trans({},'messages') }}
                    </button>
					<button class="btn btn-default btn-xs" onclick="return {{ grid.hash }}_reset();"/>
                        {#<i class="fa fa-refresh pull-left"></i>#}
                        {{ 'Reset'|trans({},'messages')  }}
                    </button>
				</div>			
				{% for column in grid.columns %}
					{% if column.isFilterable and column.type not in ['actions', 'massaction'] %}
						{% set columnTitle = grid.prefixTitle ~ column.title %}
						<div class="{{ cycle(['odd', 'even'], loop.index) }}">	
							<label>{{ columnTitle|trans }}</label>
							{{ grid_filter(column, grid, false)|raw }}
						</div>
					{% endif %}
				{% endfor %}
			</form>
		</div>
	{% endif %}
{% endblock grid_search %}	



